<h1> Dodaj wypowiedz </h1>

<%= form_for(@statement) do |f| %>
  <% @statement.errors.full_messages.each do |err| %> 
    <li><%= err %></li> 
  <% end %>
  <%= f.label :post %>
  <%= f.text_field :post %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Save me!" %>
<% end %>